* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-ctn {
  height: 150px;
  display: flex;
  justify-content: space-around;
}

.header-ctn1,
.header-ctn2 {
  width: 380px;
}

.header-ctn1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.n-image {
  width: 360px;
}

.header-ctn2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-ctn2-div1,
.header-ctn2-div2 {
  height: 50px;
}

.header-ctn2-div1 {
  padding-top: 11px;
  display: flex;
  list-style: none;
}
.link {
  text-decoration: none;
  font-size: 16px;
}

.link1 {
  background-color: #F6F5F4;
  padding: 10px 50px;
  color: black;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.link1:hover {
  background-color: rgb(233, 233, 233);
}

.link2 {
  padding: 10px 20px;
  background-color: #007CBA;
  color: white;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.link2:hover {
  background-color: #006da3;
}

.header-ctn2-div2 {
  display: flex;
  align-items:  center;
  justify-content: space-between;
}

.header-ctn2-div2 .burger {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 15px;
  display: none;
}

.input {
  width: 370px;
  font-size: 15px;
  padding: 13px 10px;
  border-style: none;
  border-bottom: 1px solid black;
}

::placeholder {
  color: black;
}

.menu-bar {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  background-color: #F6F5F4;
  padding: 12px;
}

.menu-bar1,
.menu-bar2 {
  display: flex;
  list-style: none;
}

.link-menu,
.link-bar {
  text-decoration: none;
  font-size: 18px;
  color: black;
  padding: 12px 10px;
}

.link-bar {
  font-weight: 600;
}

.link-menu:hover,
.link-bar:hover {
  background-color: rgb(184, 184, 184);
}

.image {
  background-image: url(./nestle-image/image.jpg);
  background-size: cover;
  background-position: center center;
  height: 450px;
}

.image div {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(180deg,transparent 0,rgba(0, 0, 0, 0.7));
}

.image div:hover {
  cursor: pointer;
}

.image a {
  color: white;
  text-decoration: none;
}

.image-link1 {
  font-size: 60px;
  margin-top: 150px;
}

.image-link2 {
  font-size: 30px;
  margin-top: 10px;
}

.image-link3 {
  font-size: 14px;
  margin-top: 30px;
}

.burger div {
  height: 2px;
  width: 25px;
  background-color: #000;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .menu-bar {
    display: none;
  }

  .header-ctn {
    margin-bottom: 25px;
  }

  .header-ctn2-div2 .burger {
    display: block;
    font-size: 30px;
  }

  .input {
    display: none;
  }

  .n-image {
    margin-left: 15px;
  }
}

@media  (max-width:767px) {
  .n-image {
    width: 240px;
  }

  .header-ctn1 {
    width: fit-content;
  }

  .header-ctn2-div1 {
    width: 376px;
  }
}


@media (max-width: 100%) {
  .image {
    width: 100%;
    height: auto;
  }
}

.read-more-ctn {
  height: 450px;
  width: 80%;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.read-more-ctn-div {
  width: 252px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 3px 3px 6px rgb(0 0 0 / 16%);
  border-left: 1px solid gainsboro;
}

#title1 {
  color: #006da3;
}

#title2 {
  color: #D64123;
  line-height: 30px;
}

#title3 {
  color: #2E8025;
}

#title4 {
  color: #6F2277;
}

.img1,
.img2,
.img3,
.img4 {
  width: auto;
  height: 33%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-image: url(./nestle-image/report.jpg);
  background-position: center;
  background-size: cover;
}

.img2 {
  background-image: url(./nestle-image/comminments.png);
}

.img3 {
  background-image: url(./nestle-image/to\ talk.png);
}

.img4 {
  background-image: url(./nestle-image/careers.jpg );
}

.text-div {
  width: auto;
  height: 67%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 20px;
  position: relative;
}

#title1,
#title2,
#title3,
#title4 {
  font-size: 25px;
}

.text-div p {
  font-size: 18px;
  margin-top: 15px;
  line-height: 25px;
}

.text-div a {
  position: absolute;
  text-decoration: none;
  color: #006da3;
  font-size: 15px;
  bottom: 30px;
  left: 20px;
}

.more-news-ctn {
  background-color: #A50064;
  height: 42vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

.ctn-in {
  width: 79%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 180px;
}

.more-news-ctn-div {
  width: 22%;
  padding: 20px;
}

.paragraph {
  font-size: 40px;
  color: white;
  margin-top: 10px;
}

.link-button {
  padding: 9px 20px;
  font-size: 14px;
  background-color: #A50064;
  border: 1px solid white;
  color: white;
  margin-top: 60px;
  border-radius: 2px;
}

.link-button:hover {
  cursor: pointer;
  background-color: #8d0055;
}

.parag-data {
  font-size: 15px;
  color: white;
  margin: 15px 0;
}

.data-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.hr {
  border-bottom: 1px solid rgb(255, 255, 255);
  width: 22%;
  padding: 20px 50px 20px 0;
}

.explore {
  height: 320px;
  width: 80%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-div {
  height: 33.333%;
}

.big-parag {
  font-size: 38px;
  text-align: center;
  color: #63513D;
  margin-bottom: 50px;
}

.big-parag big {
  color: #63513D;
  font-weight: 600;
}

.explore-divs2 {
  display: flex;
  justify-content: space-between;
}

.icons-image {
  width: 104px;
  box-shadow: 3px 2px  7px rgb(126, 124, 124);
  border-radius: 50%;
  cursor: pointer;
}

.left {
  width: 50px;
  margin-top: 25px;
}

.explore-divs3 {
  display: flex;
  justify-content: center;
}

.ul {
  width: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 29px;
  margin-top: 18px;
}

.ul li {
  margin-left: 15px;
  list-style:disc;
  color: rgb(121, 121, 121);
  cursor: pointer;
}

.explore-divs4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
  font-size: 14px;
  color: #007CBA;
  padding: 8px 17px;
  background-color: white;
  border: 1px solid  #007CBA;
  box-shadow: 0 1px 1px 0 grey;
  margin-top: 50px;
}

.icon-button:hover {
  cursor: pointer;
  background-color:#CCE5F1;
}

.sign-up-ctn {
  background-color: #007CBA;
  display: flex;
  justify-items: center;
  align-items: center;
  height: 280px;
}

.sign-up {
  width: 80%;
  margin: 50px auto;
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.sign-up-divs {
  width: 23%;
  display: flex;
  flex-direction: column;
}

.news-link1,
.news-link2 {
  color: white;
  text-decoration: none;
}

.news-link1 {
  font-size: 24px;

}

.news-link2 {
  font-size: 18px;
  margin-top: 20px;
}

.news-button-link,
.news-button-link2 {
  padding: 9px 20px;
  width: fit-content;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 2px;
  border: none;
  margin-top: 18px;
  background-color: white;
  text-decoration: none;
  color: #007CBA;
  box-shadow: 0 2px 1px 0 rgb(90, 90, 90);
}

.news-button-link2 {
  background-color:#007CBA;
  border: 1px solid white;
  color: white;
}

.news-button-link2:hover {
  background-color: #00679b;
}

.news-button-link:hover {
  background-color: #c3dce9;
}

.world-map {
  width: 240px;
  opacity: 0.4;
}

.world-map:hover {
  opacity: 1;
}

.follow-ctn {
  height: 120vh;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.company-contact,
.follow-us {
  border: 1px solid red;
  width: 80%;
  margin: 20px auto;
}

.company-contact {
  height: 80%;
  margin-top: 50px;
}

.follow-us {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.follow-us-div {
  border: 1px solid blue;
  width: 500px;
  height: 40px;
}

.footer {
  display: flex;
  width: 80%;
  margin: 10px auto;
}

.footer-div {
  border: 1px solid red;
  width: 9%;
  height: 40px;
}